{{#if length}}
  <footer id="footer">
    <span id="todo-count"><strong>{{remaining.length}}</strong>
      {{pluralize 'item' remaining.length}} left</span>
    <ul id="filters">
      <li>
        {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
      </li>
    </ul>
    {{#if completed.length}}
      <button id="clear-completed" {{action "clearCompleted"}}>Clear completed</button>
    {{/if}}
  </footer>
{{/if}}